<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<exclude name="flavour"></exclude>
<include name="fruit"></include>
</run>
</groups>
  <test thread-count="5" name="group_ test">
    <classes>
      <class name="grouptest.grouptest"/>
    </classes>
  </test> <!-- group_ test -->
</suite> <!-- Suite -->
